<div class="container_12">
<div class="grid_3">
<h2>Characters</h2>
<ul>
% for character in sorted(all_characters.values(), key=lambda k: k['name']):
<li><a href="/characters/view/${character['id']}">${character['name']}</a>${"<br />&nbsp;(" + character['alias'] + ")" if character['alias'] else ''}</li>
% endfor
</ul>
</div>
<div class="grid_9">
% for character in characters.values():
<h2>${character.name}</h2>
<table>
<tr>
<td class="label">Alias:</td><td>${character.alias}</td>
</tr>
<tr>
<td class="label">Gender:</td><td>${character.gender}</td>
</tr>
<tr>
<td class="label">Location:</td><td><a href="/locations/view/${character.location.id}">${character.location.name}</a></td>
</tr>
</table>
% endfor
</div>
</div>
