<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Chapters<li>
                    <li><a href="/chapters/create">Create</a></li>
                    <li><a href="/chapters/all">View All</a></li>
                    <li class="nav-header">Characters<li>
                    <li><a href="/characters/create">Create</a></li>
                    <li><a href="/characters/all">View All</a></li>
                    <li class="nav-header">Locations<li>
                    <li><a href="/locations/create">Create</a></li>
                    <li><a href="/locations/all">View All</a></li>
                    <li class="nav-header">Passages<li>
                    <li><a href="/passages/create">Create</a></li>
                    <li><a href="/passages/all">View All</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="hero-unit" style="padding:20px;padding-top:10px;">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
</div>
