<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
<h1>Passage Create</h1>
<form action="/passages/save" method="post">
Body:<br />
<textarea name="body" style="width:400px;height:100px;"></textarea><br /><br />

Character:<br />
<select name="character_id">
% for character in sorted(characters.values(), key=lambda k: k['name']):
<option value="${character['id']}">${character['name']}</option>
% endfor
</select><br /><br />

Soliloquy:<br />
<select name="soliloquy">
<option value="0">No</option>
<option value="1">Yes</option>
</select><br /><br />

Chapter:<br />
<select name="chapter_id">
% for chapter in sorted(chapters.values(), key=lambda k: k['chapter_order']):
<option value="${chapter['id']}">${chapter['chapter_order']}.${chapter['name']}</option>
% endfor
</select><br /><br />

Passage Order:<br />
<select name="passage_order">
% for item in passage_order:
<option value="${item}">${item}</option>
% endfor
</select><br /><br />

<input type="submit" value="Save" class="btn btn-primary" />
</form>
</div>
</div>
</div>
